@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  background-color: rgb(243 244 246);
}

.legend-box {
  @apply w-full border-2 bg-white rounded p-3;
}

.planning-form-box {
  @apply flex-1 flex flex-col min-h-0 w-full border-2 bg-white rounded p-3 mt-4;
}

.planning-form-box.overflow-visible {
  overflow: visible !important;
}

.occupation-item-box {
  @apply flex items-center h-16 px-4;
}

.item-box-gray {
  @apply bg-bcLightGray shadow-xs;
}

.item-box-white {
  @apply bg-white shadow-xs;
}

.tag {
  @apply flex justify-center items-center px-2  border rounded font-bold text-xs mr-1;
}

.tag-gray {
  @apply bg-bcLightGray text-bcGrayLabel border-bcGray;
}

.tag-green {
  @apply bg-bcBannerSuccessBg text-bcBannerSuccessText border-bcBannerSuccessText;
}

.tag-blue {
  @apply bg-bcLightBlueBackground text-bcBlueLink border-bcBlueLink;
}

.tag-yellow {
  @apply bg-bcLightYellow text-bcDarkYellow border-bcDarkYellow;
}

.tag-purple {
  @apply bg-bcLightPurple text-bcDarkPurple border-bcDarkPurple;
}

.tag-teal {
  @apply bg-bcLightTeal text-bcDarkTeal border-bcDarkTeal;
}

.tooltip-icon {
}

.green-icon {
  @apply text-bcGreenHiredText;
}

.yellow-icon {
  @apply text-bcYellowPrimary;
}

.red-icon {
  @apply text-bcRedError;
}

.gray-icon {
  @apply text-bcGray;
}

.blue-icon {
  @apply text-bcBlueIcon;
}

.activity-gap-table div[role="table"] {
  border-collapse: collapse;
  font-family: helvetica;
  caption-side: top;
  text-transform: capitalize;
}

.activity-gap-table div[role="td"],
.activity-gap-table div[role="th"] {
  padding: 10px;

  box-sizing: border-box;
}

.activity-gap-table div[role="td"],
.activity-gap-table div[role="th"] {
  min-width: 100px;
  background: white;
}

div[role="thead"] div[role="th"] {
  border-bottom: 2px solid #fcba19;
}

.activity-gap-table div[role="thead"] div[role="th"] {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.activity-gap-table div[role="thead"] div[role="th"] {
  background: #fff;
}

.activity-gap-table div[role="thead"] div[role="th"]:first-child {
  left: 0;
  z-index: 3;
  text-align: left;
}

.activity-gap-table div[role="tbody"] {
  overflow: scroll;
  height: 200px;
}

/* MAKE LEFT COLUMN FIXED */
.activity-gap-table div[role="tr"] > :first-child {
  position: -webkit-sticky;
  position: sticky;
  background: #eaf5ff;
  left: 0;
  z-index: 2;
  width: 350px;
}
.activity-gap-table div[role="tr"] > div[role="th"]:first-child {
  position: sticky;
  background: #fff;
}
.activity-gap-table {
  float: left;
  overflow-x: auto;
}
.firstTDinsideRow {
  background: #fff !important;
  padding: 8px 12px;
  text-align: left;
}
.table-row-td-bg {
  background: #f2f2f2 !important;
}
.numberOfGaps {
  color: red;
}

.backdropSpinner {
  backdrop-filter: blur(15px);
  background-color: #ffffff10;
}
.backdropSpinner + .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@layer base {
  @font-face {
    font-family: BCSans;
    src: url('./fonts/BCSans-Regular.woff') format('woff');
  }
  @font-face {
    font-family: BCSans;
    font-weight: 700;
    src: url('./fonts/BCSans-Bold.woff') format('woff');
  }
}

@media (min-width: 768px) {
  .bar-separator > *:not(:last-child):after {
    content: '|';
    margin: 0 0.5rem;
    color: #fff;
  }
}

::-webkit-scrollbar {
  height: 7px;
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 5px;
}

.careActivityIDlabel {
  margin-left: -20px;
}
.careActivityIDlabel > input[type='radio'] {
  display: none;
}

/* SCROLL SYNC TABLE styles :: START */

.scrollsync_table.wrap {
  position: relative;
  width: 100%;
  overscroll-behavior: contain;
  background: #f2f2f2;
}

.scrollsync_table .headers {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 20;
  background: #ffffff;
  border-bottom: 4px solid #fcba19
}

.scrollsync_table .headers .firstColumn {
  background: #ffffff;
}

.scrollsync_table .tracks,
.scrollsync_table .scroller {
  display: flex;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.scrollsync_table .scroller {
  overflow-x: hidden;
}

.scrollsync_table .tracks {
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.scrollsync_table .scroller::-webkit-scrollbar {
  display: none;
}

.scrollsync_table .column {
  scroll-snap-align: start;
}

.scrollsync_table .column + .scrollsync_table .column {
  margin-left: -1px;
}

.scrollsync_table .cell {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: 165px;
  width: 165px;
}

.scrollsync_table .firstColumn .cell {
  justify-content: start;
}

.scrollsync_table .headers .firstColumn .cell {
  justify-content: center;
}

.scrollsync_table .firstColumn .cell {
  max-width: 100%;
  width: 100%;
}

.scrollsync_table .firstColumn {
  position: -webkit-sticky;
  position: sticky;
  background: #eaf5ff;
  left: 0;
  min-width: 350px;
  width: 350px;
  z-index: 2;
  box-shadow: 5px 5px 5px #eaf5ff;
}

.scrollsync_table .innerFirstColumn {
  background: #ffffff;
}



.scrollsync_table .heading {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: solid #fff;
  border-width: 0 1px;
  z-index: 1;
  background: #efefef;
  font-weight: 700;
}

.scrollsync_table .entry {
  border: 1px solid #ebebeb;
  border-top: 0;
  background: #fff;
  height: 8em;
  padding: 1em;
}

/* SCROLL SYNC TABLE styles :: END */