// Primary BC Brand 
$bc-primary_blue: #003366;
$bc-primary_yellow: #FCBA19;


// Semantics
$bc-semantic_error: #D8292F;
$bc-semantic_success: #2E8540;
$bc-semantic_warning: #EED202;
$bc-semantic_info: #1A5A96;